body{
      margin: 0;
      background-image: url(bgd.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* if there is scrollbar position will be fixed */
      background-attachment: fixed;
}
.clock-container{
      /* horizontally align */
      display: flex;
      justify-content: center;
      /* to vertically align  */
      align-items: center;
      height: 100vh;
}
#clock{
      font-family: monospace;
      font-size: 6.5rem;
      font-weight: bold;
      text-align: center;
      color: white;
      /* for blur effect */
      backdrop-filter: blur(5px);
      width: 100%;
      /* for foggy appearance: ; */
      background-color: hsla(0%, 0, 100%, 0.1);
}